/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background: linear-gradient(135deg, rgba(13, 61, 38, 0.7), rgba(71, 199, 125, 0.7)), 
                url('https://get.pxhere.com/photo/product-job-office-employment-businessperson-learning-collaboration-white-collar-worker-technology-business-hand-sitting-computer-software-engineering-electronic-device-company-laptop-management-training-1533109.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Contenedor de pago */
.payment-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-top: 40px;
    gap: 10px;
}

/* Primer rectángulo: Datos de la tarjeta */
.payment-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 55%; /* Aumenté el tamaño de este rectángulo */
}

.payment-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Contenedores de formulario */
.form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.form-group {
    flex: 1 1 28%; /* Reducido para hacerlo más estrecho */
    min-width: 150px; /* Reducido el ancho mínimo */
}

.payment-box label {
    display: block;
    margin: 8px 0 5px;
    font-size: 12px;
}

.payment-box input, .payment-box select {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.payment-box .cta-button {
    background-color: #1DB954;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.payment-box .cta-button.cancel {
    background-color: red;
}

.payment-box .cta-button:hover {
    background-color: #16a34a;
}

/* Segundo rectángulo: Información de deuda */
.debt-info-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 28%; /* Estreché este rectángulo */
}

.debt-info-box h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.debt-info-box p {
    font-size: 16px;
    margin: 10px 0;
}

.card-number-container {
    display: flex;
    justify-content: space-between;
  }
  
  .card-type {
    width: 30px;
    height: 30px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }
  
  #card_type_image {
    width: 30px;
    height: 20px;
  }
